# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'tuesday'
      time: '09:00'
    cooldown:
      semver-major-days: 30
      semver-minor-days: 14
      semver-patch-days: 7
    # Allow updates for all direct dependencies
    allow:
      - dependency-name: '*'
        dependency-type: direct
    # We don't upgrade Prebid major versions via dependabot
    ignore:
      - dependency-name: 'prebid.js'
        update-types:
          - version-update:semver-major
    groups:
      guardian:
        patterns:
          - '@guardian/*'
      types:
        patterns:
          - '@types/*'
          - 'type-fest'
      linters:
        patterns:
          - '*eslint*'
          - '*prettier*'
      playwright:
        patterns:
          - '@playwright/*'
      typescript:
        dependency-type: 'development'
        patterns:
          - 'typescript'
      dependenciesMinor:
        dependency-type: 'production'
        update-types:
          - minor
          - patch
        exclude-patterns:
          - 'prebid.js'
          - 'typescript'
          - '@types/*'
      devDependenciesMinor:
        dependency-type: 'development'
        update-types:
          - minor
          - patch
        exclude-patterns:
          - '@guardian/*'
          - '@types/*'
          - 'type-fest'
          - '*eslint*'
          - '*prettier*'
          - '@playwright/*'
          - 'typescript'
          - 'prebid.js'
    # The default is 5 but as we are going to group dependencies we might need to increase it
    open-pull-requests-limit: 10
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    cooldown:
      default-days: 7
