name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches-ignore:
      - gh-pages

permissions: write-all

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node
        uses: ./.github/actions/setup-node-env

      - name: Run unit tests
        run: pnpm test:ci

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node
        uses: ./.github/actions/setup-node-env

      - name: Lint files
        run: pnpm lint

      - name: Check formatting
        run: pnpm prettier:check

  types:
    name: Type check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node
        uses: ./.github/actions/setup-node-env

      - name: Check types
        run: pnpm tsc

  build-bundle:
    name: Build Bundle
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node
        uses: ./.github/actions/setup-node-env

      - name: Build package
        run: pnpm build:bundle

      - name: Save build
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: bundle-dist
          path: bundle/dist

  riff-raff:
    name: Upload Bundle Riff Raff Artifacts
    needs: [build-bundle, test, lint, types]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Node
        uses: ./.github/actions/setup-node-env

      - name: Fetch build
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: bundle-dist
          path: bundle/dist

      - name: Riff-Raff Upload
        uses: guardian/actions-riff-raff@a2524d81258439cfd4a0086eaa4d9886db978cca # v4.2.3
        with:
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: dotcom::commercial-bundle
          configPath: ./riff-raff.yaml
          contentDirectories: |
            frontend-static/commercial:
              - bundle/dist/prod/artifacts/commercial
            commercial-bundle-path:
              - bundle/dist/prod/cloudformation
