name: Compressed Size

permissions:
  pull-requests: write

on:
  pull_request:

jobs:
  compressed_size:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node
        uses: ./.github/actions/setup-node-env

      - name: Compressed Size
        uses: preactjs/compressed-size-action@8518045ed95e94e971b83333085e1cb99aa18aa8 # v2.9.0
        with:
          repo-token: ${{secrets.GITHUB_TOKEN}}
          build-script: build
          # having a higher change threshold makes the reporting a little less sensitive and more reliable
          minimum-change-threshold: 50
          pattern: 'bundle/dist/prod/artifacts/commercial/**/*.js'
          # filenames are hashed so we need to strip that, or it thinks we've created new files every build
          strip-hash: "bundle/dist/prod/artifacts/commercial/(\\w{20})/graun\\.[a-zA-Z0-9-._]+\\.commercial\\.js$"
